.left-sidebar, .app-header,
.body-wrapper-inner.container-fluid, .page-wrapper, html{
    background-color: #222424 !important;
}

.card .card-body {
    background-color: #22242412 !important;
    border-radius: 12px;
}

.body-wrapper-inner {
}

.sidebar-link, a>iconify-icon {
    color: #fff !important;
}

.sidebar-link.active {
    background-color: #f0942bb3 !important;
}